<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>Forgot Password?</h1>
      <form action="/api/v1/expenseTracker/forgot-password" method="post">
        <label for="email">Enter Registered Email</label>
        <input
          type="email"
          name="email"
          placeholder="eg:umashankarp33@gmail.com"
        />
        <span>We'll send you a OTP.</span>
        <div class="buttons">
          <button type="submit">Continue</button>
        </div>
      </form>
    </div>
  </body>
</html>
